---
import { getCollection, render } from 'astro:content'
import PostLayout from '@layouts/PostLayout.astro'
import _ from 'lodash'

export async function getStaticPaths() {
  const posts = await getCollection('notion')
  return posts.map((post) => ({
    params: { slug: _.kebabCase(post.data.properties.Name) },
    props: { post }
  }))
}

export type Props = Awaited<ReturnType<typeof getStaticPaths>>[number]['props']
const { post } = Astro.props
const { Content, headings } = await render(post)
---

<PostLayout title={post.data.properties.Name}>
  <!-- {frontmatter.date.toDateString().split(' ').slice(1).join(' ')} • {Math.ceil(readTime)} min read -->
  <h1>{post.data.properties.Name}</h1>
  <Content />
</PostLayout>
