---
import Layout from '@layouts/Layout.astro'
import Latest from '@components/Latest.astro'
import Recent from '@components/Recent.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection('blog')
posts.sort((a, b) => (a.data.date > b.data.date ? -1 : 1))
const rendered = (
  await Promise.all(posts.map((post) => post.render().then((x) => x.Content)))
).slice(1)
---

<Layout title="~/blog">
  <div class="grid grid-cols-12 gap-3 xl:gap-5 grid-rows-3">
    <div class="col-span-6 xl:col-span-7 row-span-3 h-full">
      <Latest slug={posts[0].slug} {...posts[0].data} />
    </div>
    <!-- <div class="col-span-6 xl:col-span-5 flex flex-col items-center gap-4 xl:gap-5 h-full"> -->
    {
      posts.slice(1, 4).map((post, i) => (
        <div class="col-span-6 xl:col-span-5 row-span-1">
          <Recent slug={post.slug} Content={rendered[i]} {...post.data} />
        </div>
      ))
    }
    <!-- </div> -->
  </div>
</Layout>
