---
import Layout from '@layouts/Layout.astro'
import textbg from '@images/textbg.png'
import Cards from '@components/Cards'
---

<Layout title="danielz.sh">
  <h1
    class="text-7xl md:text-[120px] bg-clip-text text-transparent bg-contain font-static font-black inline-block"
    style=`background-image: url(${textbg.src}); -webkit-text-stroke: 1px white;`
  >
    Hi. I'm Daniel.
  </h1>
  <Cards client:load />
</Layout>
