@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-black font-light text-xl text-gray-400;
  }
  ul {
    @apply border-l border-t rounded-lg border-gray-600 mb-3 mt-2;
  }
  li:first-child {
    @apply rounded-t-lg;
  }
  li:last-child {
    @apply rounded-b-lg;
  }
  li {
    @apply px-3 transition-all rounded-br-none hover:bg-gray-800;
  }
  li:nth-child(even) {
    @apply bg-gray-900 hover:bg-gray-800;
  }
  h1 {
    @apply font-bold text-5xl text-gray-200 mb-5;
  }
  h2 {
    @apply font-bold text-3xl text-gray-300 mt-5 mb-2;
  }
  h3 {
    @apply font-bold text-2xl text-gray-400 mt-3 mb-2;
  }
  img {
    @apply rounded-lg;
  }
  /* applies to all anchor tags with no children */
  a:not(:has(*)), a > code {
    @apply relative text-neutral-300 font-normal z-10;
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 100%;
      bottom: 0;
      transition: right 200ms ease-in-out;
      @apply bg-blue-900;
    }
    &:hover::after {
      right: 0;
    }
  }
}