@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter Black';
    src: url('./lib/fonts/Inter-Black.ttf');
  }
  body {
    @apply bg-black text-white;
  }
  p {
    @apply font-light;
  }
  /* applies to all anchor tags with no children */
  a:not(:has(*)) {
    @apply relative;
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 100%;
      bottom: 0;
      transition: right 200ms ease-in-out;
      @apply bg-blue-900;
    }
    &:hover::after {
      right: 0;
    }
  }
  /* a::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 66%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    @apply bg-blue-500;
  }
  a:hover::after {
    top: 0;
  } */
}